variable

In [ ]:
name = '1000' #this is number
# name = 2000
c = "Mg Mg is running"
c = 'Mg Mg is Boy'
f = 20.5

# type()
a = int()
i = float(name)
s = str(f)
print(type(s))

In [ ]:
# operator => + - * % / 
a = 200
b = 300
# sum 
print(a - b)
#division
print(b / a)
#modulus
print(b % a)

In [ ]:
# compar  > < >= <= ==  // True False
a = 'mg mg'
b = 'mg mg1'
a <= b
a == b

In [ ]:
# array type ->  list , tuple, set , dict
list = [10,10, 20, 30, "Mg Mg"]
tupe = (10, 20, 30, "Mg Mg", 'Aung Aung')
set = {10, 10, 30, "Mg Mg", 'Aung Aung'}
# dict = {'keys' : 'values'}
dict = {'name': 'Mg Mg', 'age': 20, 'address':'Yangon'}

In [ ]:
#list
list = [10,10, 20, 30, "Mg Mg"] #index num start 0
ilist = [0, 1,  2,  3,  4]
a = 200
print(list)
print(list[:3]) #range +1
print(list[2:])

In [ ]:
list = [10, 20, 30, "Mg Mg"]
# insert()
# append()
# list.append('Aung Aung')
# list.insert(1, "AungAung")
# list.remove("Mg Mg")
# list.pop() #remove end
# list.pop(2)
list[3] = "AungAung"  #update
print(list)

In [ ]:
set = {10, 10, 30, "Mg Mg", 'Aung Aung', 10, 'Mg Mg'}
set.remove(10)
print(set)

In [ ]:
# dict = {'keys' : 'values'}
dict = {'name': 'Mg Mg', 'age': 20, 'address':'Yangon'}
print(dict.keys())
print(dict.values())
dict['name'] = "Aung Aung"
dict.update({'name':'AungAung'})

In [ ]:
dict = {'name': 'Mg Mg', 'age': 20, 'address':'Yangon'}

dict['phone'] = 1236644
dict

In [ ]:
list1 = {'name': 'Mg Mg', 'age': 20, 'address':'Yangon'}
list2 = {'phone':1234567, 'email':'abc@mail.com'}
list1 + list2