In [ ]:
# sqlite 3
# apt update 
# sudo apt install sqlite3 
# pip install sqlite3 
import sqlite3
#create db
con = sqlite3.connect('firstdb.db')
con.cursor()   #db open
#create table
con.execute("create table contact(name text, phone text, address text)")  #query exe

con.commit()  #save
con.close()

In [ ]:
# insert data 
# insert into table_name(name="mg mg", phone="133456", address="ygn")
# insert into table_name(name, phone, address) VALUES("mg mg", '13456', 'ygn')
import sqlite3
con = sqlite3.connect('firstdb.db')
con.cursor()
con.execute("INSERT INTO contact(name, phone, address) values('kyaw kyaw','123456','aya')")
con.execute("INSERT INTO contact(name, phone, address) values('aye aye','123456','ygn')")
con.commit()
con.close()

In [ ]:
#read data
# select colname from tablename
import sqlite3
con = sqlite3.connect('firstdb.db')
con.cursor()
data = con.execute("select * from contact")
# fectchone()
# fetchall()
for i in data:
    print(i)

con.commit()
con.close()

In [ ]:
#read filter data
# SELECT colname FROM tablename WHERE colname=123
import sqlite3
con = sqlite3.connect('firstdb.db')
con.cursor()
data = con.execute("select * from contact where name='mg mg'")
# fectchone()
# fetchall()
for i in data:
    print(i)

con.commit()
con.close()

In [ ]:
#delete data
# DELETE FROM tablename WHERE name='mg mg'
import sqlite3
con = sqlite3.connect('firstdb.db')
con.cursor()
con.execute("delete from contact where address='mdy' ")

con.commit()
con.close()

In [ ]:
# update 
# UPDATE tablename SET phone='789789' WHERE name = 'mg mg'
import sqlite3
con = sqlite3.connect('firstdb.db')
con.cursor()
con.execute("update contact set phone='454545' where name='mg mg'")

con.commit()
con.close()